<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <a
      href="https://630b803cbb46d553e06e2647--laphoenix.netlify.app/"
      class="copyright"
      ><span class="text-muted">&copy; Yelp Camp 2022</span></a
    >
  </div>
</footer>
