body {
  background-color: #23252c;
  color: aliceblue;
}
.card {
  background-color: #1a1b21;
}

#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.btn-new {
  background-color: grey;
  border-color: beige;
}

.copyright {
  text-decoration: none;
  color: blue;
}
