body {
  background-color: #23252c;
  color: aliceblue;
}
.card {
  background-color: #1a1b21;
}
.camp-list1 {
  background-color: #1a1b21;
}
.camp-list2 {
  background-color: #1a1b21;
}
.camp-list3 {
  background-color: #1a1b21;
}
.new-campground {
  background-color: #1a1b21;
  border-radius: 10px 10px 10px 10px;
}

#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.btn-new {
  background-color: grey;
  border-color: beige;
}
.button-new {
  display: flex;
  justify-content: space-between;
}

.copyright {
  text-decoration: none;
  color: blue;
}
